<h1 align="center"> <%= pluralize(@events.count, "Event", plural: "Events") %></h1>

<table>
<tr>
	<th>Name</th>
	<th>Beschreibung</th>
	<th>Ort</th>
	<th>Preis</th>
	<th>Begin</th>
	<th>Registrierungen</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>



	<% @events.each do |event| %>
		<tr>
		<td><%= event.name %></td>
		<td><%= truncate(event.description, length: 30) %></td>
		<td><%= event.location %></td>
		<td><%= format_price(event) %></td>
		<td><%= event.start_date %></td>
		<% if current_user %>
		<td><%= link_to "Registrations", event_registrations_path(event.id), :class => "button success" %></td>
		<td><%= link_to "Show", event_path(event.id), :class => "button primary" %></td>
		<% if current_user_admin? %>
		<td><%= link_to "Edit", edit_event_path(event.id), :class => "button warning" %></td>
		<td><%= link_to "Delete", event_path(event.id), :class => "button alert", method: :delete, data: { confirm: 'Sicher löschen?' } %></td>
		<% end %>
		<% end %>
		</tr>

		
	<% end %>

</table>

<p><%= link_to "Neuen Event anlegen", new_event_path, :class => "success button" if current_user_admin?%></p>