<h1><%= @movie.title %></h1>

<p><%= @movie.name %></p>

<p><%= @movie.rating %></p>


<p><%= @movie.total_gross %></p>


<p><%= @movie.price %></p>

<p><%= link_to "Alle Movies anzeigen", movies_path %></p>

