<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Flix App</li>
      <li class="menu-text"><%= link_to "Home-Seite", root_path %></li>
      
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if current_user %> 
      <%= current_user.name.capitalize %>
      <%= link_to 'Logout', session_path, method: :delete %>
      <% else %>
      <li><%= link_to 'SignUp', signup_path %></li>
      <li><%= link_to 'SignIn', new_session_path, :class => "button success" %></li>
      <% end %>
    </ul>
  </div>
</div>