<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Total gross</th>
      <th>Description</th>
      <th>Released on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.total_gross %></td>
        <td><%= movie.description %></td>
        <td><%= movie.released_on %></td>
        <% if current_user %>
        <td><%= link_to 'Review', movie_reviews_path(movie.id), :class => "button success" %></td>
        <td><%= link_to 'Show', movie, :class => "button success" %></td>
        <% if current_user_admin? %>
        <td><%= link_to 'Edit', edit_movie_path(movie), :class => "button success" %></td>
        <td><%= link_to 'Destroy', movie, :class => "button alert", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path if current_user_admin? %>
</br>
<%= link_to 'Alle Reviews anzeigen', allreviews_url %></br>
